body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    margin: 5px;
    font-family: NotoSans, Arial, "Arial Unicode MS", sans-serif;
    font-size: 28px;
    line-height: 1.25;
}

.catalog {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-left: 5px;
    font-family: NotoSans, Arial, "Arial Unicode MS", sans-serif;
    font-weight: 700;
    border-top: 1px solid #a7a7a7;
    padding-top: 1.0em;
    display: flex;
    align-items: center;
}

h2 span {display: block;width: 100%;}

h2::before,
h2::after {
    font-family: jw-icons-external;
    font-weight: normal;
    font-size: 30px;
}

h2::before {
    margin-right: 12px;
}

h2.biblia::before {
    content: "\E61F";
}

h2.libro-letra-grande::before {
    content: "\E67F";
}

h2.libro::before {
    content: "\E62B";
}

h2.folleto::before {
    content: "\E62D";
}

h2.revista::before {
    content: "\E67C";
}

h2.tratado::before {
    content: "\E6DC";
}

h2 {
    cursor: pointer;
    color: #454545;
}

h2::after {
    content: "\E63A";
    transition: transform 0.3s ease-in-out; /* Smooth transition */
}

h2.active::after {
    transform: rotate(-180deg);
}

ul.section {
    display: none;
    overflow: hidden; /* Important: hide overflowing content during animation */
}

ul.section.show {
    display: flex;
     /* Animate to 'auto' height */
    opacity: 1;
}

.section {
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 20px 12px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.section h2 {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}

.item {
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
    width: 200px;
    text-align: center;
}

.item img {
    height: 200px;
    width: auto;
    max-width: 200px;
    max-height: fit-content;
}

.item a {
    width: 200px;
    text-decoration: none;
    color: #007BFF;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.item .content {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 10px 10px -5px rgba(0, 0, 0, .04);
    padding: 60px 0px 10px 0px;
    margin: -60px 0px 0px 0px;
    height: 134px;
}

.item .type {
    display: block;
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .025em;
    color: #4a5568;
    margin: 10px 0px 10px 0px;
    padding: 0px 6px;
}

.item .title {
    color: #4a5568;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 6px;
}

.item .stock {
    display: block;
    color: #4a5568;
    margin: 10px 0px 0px 0px;
    border-top: solid  1px #e2e8f0;
    padding: 10px 6px 0px 6px;
}

.item .stock .bold {
    color: #1a202c;
    font-weight: 700;
}

@media screen and (max-width: 460px) {
    .section {
        justify-content: center;
        margin: 0px 0px 10px 0px;
    }
    .item {
        width: 400px;
        margin: 0px;
        text-align: left;
    }
    .item a {
        display: flex;
        width: 100%;
        flex-direction: row-reverse;
        align-items: center;
    }
    .item img {
        height: 144px;
        max-width: 160px;
    }
    .item .content {
        box-shadow: -20px 0px 25px -5px rgba(0, 0, 0, .1), -10px 10px 10px -5px rgba(0, 0, 0, .04);
        padding: 0px 0px 10px 0px;
        margin: 0px 0px 0px 0px;
        width: 100%;
    }
    .item .title {
        justify-content: start;
        width: 70%;
    }
    .item .title,
    .item .type,
    .item .stock {
        padding-left: 16px;
    }
}