@font-face {
    font-family: jw-icons-external;
  	src: url(fonts/jw-icons-external.woff);
}

* {
    border: 0;
    margin: 0;
    padding: 0;
	font-family: NotoSans,Arial,"Arial Unicode MS",sans-serif;
}

body {}

.event {
    width: 90%;
    border-radius: 5px;
    margin: 30px auto;
    flex-direction: row;
}

.event .day {
    color: #424243;
}

.event .day .number {
    font-size: 20pt;
    display: inline-flex;
}

.event .day .date,
.event .day .month {
    font-size: 16pt;
    display: inline-flex;
}

.event .rows {
    margin-top: 4px;
}

.event .row {
	display: flex;
	flex-direction: column;
	color: #424242;
	margin-bottom: 10px;
	border-radius: 10px;
}

.event .row.highlight_1 {
    background: #92E8BF;
}

.event .row.highlight_2 {
    background: #E8E0A9;
}

.event .row.highlight_3 {
    background: #D8D2FC;
}

.event .label {
    font-size: 14px;
    display: block;
    margin-right: 8px;
    font-weight: bold;
}

.event .value {
    display: block;
}

.event .assignee {
    font-size: 14px;
	line-height: 20px;
    background: #EEE;
    padding: 8px 12px;
    margin: 2px 0px;
}

.event .assignee:first-child {
	border-radius: 10px 10px 0px 0px;
}

.event .assignee:last-child {
	border-radius: 0px 0px 10px 10px;
}

.event .section {
    margin: 2px 0px;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 4px 8px;
}

.event .section h2 {
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event .section::before {
    font-family: jw-icons-external;
    display: inline-flex;
    font-size: 32px;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    height: 40px;
    width: 40px;
    margin-right: 8px;
    font-weight: normal;
}

.event .section.treasures {
    background: #626262;
}

.event .section.treasures::before {
    content: "\e65c";
}

.event .section.teachers {
    background: #9d5d07;
}

.event .section.teachers::before {
    content: "\e6ec";
}

.event .section.christian {
    background: #942926;
}

.event .section.christian::before {
    content: "\e6bb";
}

.arrow-right {
    background-color: #444;
    height: 20px;
    right: -12px;
    position: absolute;
    top: -12px;
    width: 20px;
    -webkit-transform: rotate(-45deg);
}

@media screen and (min-width:750px) {

    .event {
        width: 550px;
    }

}