@font-face {
    font-family: jw-icons-external;
  	src: url(fonts/jw-icons-external.woff);
}

* {
    border: 0;
    margin: 0;
    padding: 0;
	font-family: NotoSans,Arial,"Arial Unicode MS",sans-serif;
}

body {}

.event {
    width: 90%;
    border-radius: 5px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
}

.event .day {
    width: 10%;
    color: #424243;
    font-weight: 900;
    display: flex;
    flex-direction: column;
	align-items: center;
    padding: 10px;
    border-radius: 0 5px 5px 0;
}

.event .day .number {
    font-size: 25pt;
}

.event .rows {
    width: 81%;
    margin-top: 10px;
}

.event .row {
	min-width: 320px;
    display: flex;
    flex-direction: column;
    color: #424242;
    padding: 15px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #CCCCCC;
}

.event .row.highlight_1 {
    background: #92E8BF;
}

.event .row.highlight_2 {
    background: #E8E0A9;
}

.event .row.highlight_3 {
    background: #D8D2FC;
}

.event .label {
    font-size: 11px;
    width: 80px;
    height: 26px;
    display: inline-flex;
    text-align: right;
    vertical-align: middle;
    margin-right: 8px;
    margin-left: 30px;
    align-items: center;
    justify-content: right;
}

.event .value {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
}

.event .assignee {
    font-size: 16px;
    margin-bottom: 6px;
}

.event .section {
    margin: 6px 6px;
    display: flex;
    align-items: center;
}

.event .section h2 {
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event .section::before {
    font-family: jw-icons-external;
    display: inline-flex;
    color: #fff;
    font-size: 32px;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    height: 40px;
    width: 40px;
    margin-right: 12px;
    font-weight: normal;
}

.event .section.treasures {
    color: #626262;
}

.event .section.treasures::before {
    background-color: #626262;
    content: "\e65c";
}

.event .section.teachers {
    color: #9d5d07;
}

.event .section.teachers::before {
    background-color: #9d5d07;
    content: "\e6ec";
}

.event .section.christian {
    color: #942926;
}

.event .section.christian::before {
    background-color: #942926;
    content: "\e6bb";
}

.arrow-right {
    background-color: #444;
    height: 20px;
    right: -12px;
    position: absolute;
    top: -12px;
    width: 20px;
    -webkit-transform: rotate(-45deg);
}

@media screen and (min-width:750px) {

    .event {
        width: 550px;
    }

}